
$primary-font: 'Raleway', sans-serif;
$secondary-font:  'Roboto', sans-serif;

$body-clr: #EDFFEC;
$logo-clr: #F8485E;
$red-dark: #BD4B4B;

$dark-blue: #262A53;

$wrk-clr: rgba(250, 238, 248, 0.867);
$wrk-clr-dark: rgba(250, 238, 248, 1);