
.sidebar{
    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -45rem;
    z-index: 2;
    @include Flex;
    flex-direction: column;
    gap: 10rem;
    transition: all .4s ease-in;
    background: $dark-blue;
    color: white;

    &-list{
       list-style: none;
       @include Flex;
       flex-direction: column;
       gap: 3rem;
    }
    &-item{
        font-size: 2.3rem;
        text-transform: uppercase;
        padding: 1.5rem;
        border-radius: 3rem;
        @include Shadow-Logo;
        cursor: pointer;

        &:hover{
            font-weight: 500;
            color: red;
        }
    }
}

.menuactive{
    right: 0;
}

